@import url("https://fonts.googleapis.com/css?family=Roboto:500,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sahitya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#web-navbar {
  background-color: transparent;
  padding: 0 50px;
}

nav img {
  width: 70px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

nav ul li a {
  font-size: 16px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #fdc93b !important;
  margin-right: 15px;
}

li.active a,
li a:hover {
  background-color: navy !important;
  color: white !important;
  border-radius: 10px;
}

nav button.navbar-toggler:focus,
nav button.navbar-toggler:active {
  outline: none !important;
}

.web-header {
  background-image: url(https://cdn.dribbble.com/users/4586329/screenshots/11210494/edited_4x.jpg);
  /* Picture Credit = Created by Andrew Neel from Unsplash.com */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.header-container {
  z-index: 1;
  background-color: rgba(15, 17, 27, 0.753);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 250px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.web-header h1 {
  font-family: "Roboto", sans-serif;
  color: White;
  font-size: 130px;
  font-weight: bold;
}

.main-container {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 50px;
}

.main-container h1 {
  text-align: center;
  color: #555555;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.course {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 50px;
  width: 270px;
}

.course-container {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.459);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 10px;
  border-radius: 10px;
}

.row button:hover .course {
  box-shadow: 5px 10px 8px #888888;
  transform: scale(1.1);
}

.row button,
.row button:focus {
  border: none;
  outline: none;
}

.modal-body p a {
  color: black;
}

.modal-body p a:hover {
  text-decoration: underline;
}

.ekonomika {
  background-image: url(img/Ekonomika.PNG);
  /* Picture Credit = Created by Robert Anasch from Unsplash.com */
}

.hukum {
  background-image: url(img/Hukum.PNG);
  /* Picture Credit = Created by Tingey Injury Law Firm from Unsplash.com */
}

.budaya {
  background-image: url(img/Ilmubudaya.PNG);
  /* Picture Credit = Created by Pavan Gupta from Unsplash.com */
}

.sosial {
  background-image: url(img/Ilmusosialpolitik.PNG);
  /* Picture Credit = Created by Marco Oriolesi from Unsplash.com */
}

.dokter {
  background-image: url(img/Kedokteran.PNG);
  /* Picture Credit = Created by Javier Matheu from Unsplash.com */
}

.kesmas {
  background-image: url(img/Kesmas.PNG);
  /* Picture Credit = Created by Dan Gold from Unsplash.com */
}

.ikan {
  background-image: url(img/Perikanan.PNG);
  /* Picture Credit = Created by Uber Scuba Gili from Unsplash.com */
}

.ternak {
  background-image: url(img/Peternakan.PNG);
  /* Picture Credit = Created by Stijn te Strake from Unsplash.com */
}

.psikologi {
  background-image: url(img/Psikologi.PNG);
  /* Picture Credit = Created by Sydney Sims from Unsplash.com */
}

.sains {
  background-image: url(img/Sains.PNG);
  /* Picture Credit = Created by Dawid Małecki from Unsplash.com */
}

.teknik {
  background-image: url(img/Teknik.PNG);
  /* Picture Credit = Created by Bill Oxford from Unsplash.com */
}

.course p {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
}

#footer {
  height: auto;
  padding: 20px;
  background-color: #555555;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icon {
  text-align: center;
}

.icon a {
  color: #212529;
}

.icon a:hover {
  text-decoration: none;
  color: white;
}

.icon a:hover .white {
  text-decoration: none;
  color: #212529;
}

.icon .white {
  color: white;
}

#footer p {
  font-family: "Hind Siliguri", sans-serif;
  color: white;
  font-size: 15px;
  margin-top: 13px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 991px) {
  #web-navbar {
    background-color: rgba(0, 0, 0, 0.788);
  }

  li.active a,
  li a:hover {
    background-color: transparent !important;
    color: rgb(97, 183, 240) !important;
    border-radius: 0;
  }
}

@media (max-width: 700px) {
  .header-container {
    padding: 0 5px;
  }

  .header-content a {
    padding: 8px 30px;
    font-size: 18px;
  }

  .web-header h1 {
    font-size: 60px;
  }

  .web-header h3 {
    font-size: 20px;
  }

  .web-header p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 25px;
    max-width: 250px;
  }

  #fp-nav ul li a.active span {
    width: 20px !important;
    height: 20px !important;
    margin: -13px 0 0 -13px !important;
  }

  #fp-nav ul li a span {
    width: 9px !important;
    height: 9px !important;
    margin: -6px 0 0 -7px !important;
  }

  #fp-nav ul li a {
    margin-top: 10px;
  }

  .section1,
  .section-container {
    padding: 0 25px;
  }

  .section1 h1,
  .section2 h1,
  .section3 h1 {
    font-size: 35px;
    max-width: 300px;
  }
}

.card-front__heading {
  font-size: 1.5rem;
  margin-top: 0.25rem;
}

.container {
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
  border-radius: 2rem;
  padding: 1rem 0 1rem 0;
}

.inside-page__heading {
  padding-bottom: 1rem;
  width: 100%;
}

.inside-page__heading,
.card-front__text-view {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: 0.2rem;
}

.inside-page__heading--IT,
.card-front__text-view--IT {
  color: #2aaac1;
}

.inside-page__heading--music,
.card-front__text-view--music {
  color: #2aaac1;
}

.inside-page__heading--languages,
.card-front__text-view--languages {
  color: #2aaac1;
}

.inside-page__heading--history,
.card-front__text-view--camping {
  color: #2aaac1;
}

.card-front__tp {
  color: #fafbfa;
}

.card-front__text-price {
  font-size: 1.2rem;
  margin-top: -0.2rem;
}

.inside-page__text {
  color: #333;
}

.card-front__icon {
  fill: #fafbfa;
  font-size: 3vw;
  height: 3.25rem;
  margin-top: -0.5rem;
  width: 3.25rem;
}

.inside-page__btn {
  background-color: transparent;
  border: 3px solid;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  overflow: hidden;
  padding: 0.7rem 0.75rem;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 90%;
  z-index: 10;
}

.inside-page__btn::before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleY(0);
  transition: all 0.3s ease;
  width: 100%;
  z-index: -1;
}

.inside-page__btn--IT {
  border-color: #279eb2;
  color: #279eb2;
}

.inside-page__btn--IT::before {
  background-color: #279eb2;
}

.inside-page__btn--music {
  border-color: #279eb2;
  color: #279eb2;
}

.inside-page__btn--music::before {
  background-color: #279eb2;
}

.inside-page__btn--languages {
  border-color: #279eb2;
  color: #279eb2;
}

.inside-page__btn--languages::before {
  background-color: #279eb2;
}

.inside-page__btn--history {
  border-color: #279eb2;
  color: #279eb2;
}

.inside-page__btn--history::before {
  background-color: #279eb2;
}

.inside-page__btn:hover {
  color: #fafbfa;
  text-decoration: none;
}

.inside-page__btn:hover::before {
  transform: scaleY(1);
}

.main {
  background: linear-gradient(to bottom right, #eee8dd, #e3d9c6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.card-area {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}

.card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.card {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.5);
  height: 15rem;
  position: relative;
  transition: all 1s ease;
  width: 15rem;
}

.flip-card {
  height: 15rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 15rem;
  z-index: 100;
}

.flip-card > * {
  visibility: visible;
}

.flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-front {
  background-color: #fafbfa;
  height: 15rem;
  width: 15rem;
}

.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: 0.75rem;
}

.card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-back {
  background-color: #fafbfa;
  transform: rotateY(180deg);
}

.video__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

.inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}

.card:hover {
  box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.75);
  width: 30rem;
}

.card:hover .flip-card__container {
  transform: rotateY(-180deg);
}

.card:hover .inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
  .card-section {
    display: none;
  }
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2aaac1;
}
a:hover {
  color: #111;
  text-decoration: none;
}

.author-archive {
  padding: 1.5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.heading-champions {
  font-weight: 1000;
  font-size: 4vw;
  font-style: italic;
  border-left: 2px solid #4ac5f2;
  height: auto;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.post {
  transform: scale(0.9);
  transition: transform 0.2s;
}
.post:hover {
  transform: scale(1);
  box-sizing: border-box;
  box-shadow: 10px 10px 10px #0e0d1f, 20px 20px 20px #4ac5f2;
}

.filters {
  text-align: center;
  margin-bottom: 2rem;
}

.filters * {
  display: inline-block;
}

.filters label {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 2rem;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
}

.filters label:hover {
  background: linear-gradient(to right top, #65dfc9, #d2b7e5);
}

/* FILTERED ELEMENTS (POSTS)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  margin-bottom: -1rem;
}

.post {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  opacity: 95%;
}
img {
  border-radius: 25px;
}
.posts .post-title {
  font-size: 1.3rem;
}

.posts .post-title:hover {
  text-decoration: underline;
}

.posts figcaption {
  padding: 1rem;
}

.posts .post-categories {
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
}

.posts .post-categories * {
  display: inline-block;
}

.posts .post-categories li {
  margin-bottom: 0.2rem;
}

.posts .post-categories a {
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid;
  line-height: normal;
  transition: all 0.1s;
}

.posts .post-categories a:hover {
  background: #4ac5f2;
  color: var(--white);
  text-decoration: none;
}

/* FILTERING RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[value="All"]:checked ~ .filters [for="All"],
[value="IT"]:checked ~ .filters [for="IT"],
[value="MUSIC"]:checked ~ .filters [for="MUSIC"],
[value="LANGUAGES"]:checked ~ .filters [for="LANGUAGES"],
[value="HISTORY"]:checked ~ .filters [for="HISTORY"] {
  background: linear-gradient(to right top, #65dfc9, #d2b7e5);
  color: var(--white);
}

[value="All"]:checked ~ .posts [data-category] {
  display: block;
}

[value="IT"]:checked ~ .posts .post:not([data-category~="IT"]),
[value="MUSIC"]:checked ~ .posts .post:not([data-category~="MUSIC"]),
[value="LANGUAGES"]:checked ~ .posts .post:not([data-category~="LANGUAGES"]),
[value="HISTORY"]:checked ~ .posts .post:not([data-category~="HISTORY"]) {
  display: none;
}

@media screen and (max-width: 900px) {
  .posts {
    grid-template-columns: 450px 450px;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 18px;
  }

  .posts {
    grid-template-columns: 190px 190px;
    justify-content: center;
  }
}

hr {
  margin: 2rem 0 5rem 0;
  border: 0;
  text-align: center;
}
hr:before {
  content: "\2022 \2022 \2022";
  font-size: 40px;
  color: #4f8bca;
}
